In [2]:
import pandas as pd
d = {"REGION_NAME_OLD": ["CALIFORNIA REGION", "PORTLAND REGION", "CHICAGO REGION"],
    "population": [23456, 67565, 78789]}

df = pd.DataFrame(data=d)
df.head()

     REGION_NAME_OLD  population
0  CALIFORNIA REGION       23456
1    PORTLAND REGION       67565
2     CHICAGO REGION       78789

In [15]:
EBIN1405006_V08 = {
  "GREATER BOSTON REGION": -0.65033,
  "SEATTLE REGION": -0.64606,
  "PORTLAND REGION": -0.58842,
  "TWIN CITIES REGION": -0.42426,
  "KEYSTONE REGION": -0.39314,
  "MOUNTAIN REGION": -0.38053,
  "CALIFORNIA REGION": -0.27005,
  "WESTERN NEW ENGLAND REGION": -0.26923,
  "FREEDOM REGION": -0.22015,
  "BELTWAY REGION": -0.17065,
  "MILE HIGH REGION": -0.16072,
  "FLORIDA REGION": 0.11952,
  "CHICAGO REGION": 0.25411,
  "HEARTLAND REGION": 0.37284,
  "HOUSTON REGION": 0.39264,
  "BIG SOUTH REGION": 0.60154,
}

df["REGION_NAME_OLD"].apply(lambda s: EBIN1405006_V08.get(s.strip().upper()) or 0)

0   -0.27005
1   -0.58842
2    0.25411
Name: REGION_NAME_OLD, dtype: float64

In [3]:
EBIN1405006_V08 = {
  "GREATER BOSTON REGION": -0.65033,
  "SEATTLE REGION": -0.64606,
  "PORTLAND REGION": -0.58842,
  "TWIN CITIES REGION": -0.42426,
  "KEYSTONE REGION": -0.39314,
  "MOUNTAIN REGION": -0.38053,
  "CALIFORNIA REGION": -0.27005,
  "WESTERN NEW ENGLAND REGION": -0.26923,
  "FREEDOM REGION": -0.22015,
  "BELTWAY REGION": -0.17065,
  "MILE HIGH REGION": -0.16072,
  "FLORIDA REGION": 0.11952,
  "CHICAGO REGION": 0.25411,
  "HEARTLAND REGION": 0.37284,
  "HOUSTON REGION": 0.39264,
  "BIG SOUTH REGION": 0.60154,
}.get(df.REGION_NAME_OLD.strip().upper()) or 0

AttributeError: 'Series' object has no attribute 'strip'